<div class="container">

  <h3>Library Details</h3>
  <ul>
<li>Name: {{ library.name }}</li>
<li>City: {{ library.city }}</li>


</ul>


<h3> Library Members via property binding</h3>
<br/>
<br/>
<h3 [style.background-color]="currentColor" > Background of this text should be based on variable currentColor</h3>
<br/>
<br/><br/>
<div [class.blue-color]="isBlueColor"> Should apply class <b>blue-color</b> if variable isBlueColor has been set to true </div>
<br/>
<br/><br/>

<button (click)="addMember()">Add New Member</button>


<br/><br/>



<input type="number" [value]="library.members">
<p>Current member count : {{ library.members }}</p>


<br/><br/>

<h3> Library Members via Two Way binding</h3>
<br/>

<input type="number" [(ngModel)]="library.members"/>





</div>